@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Syne:wght@400;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-title: 'Syne', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  display: flex;
  width: max-content;
  animation: infinite-scroll 30s linear infinite;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
}